---
import Page from "../layouts/Page.astro";
import Tag from "../components/Tag.astro";
const posts = await Astro.glob('../pages/articles/*.md');
---

<Page>
    <div class="p-4">
        <h2>Articles</h2>
        <div class="flex flex-col divide-y divide-zinc-700">
            {posts.map((post) => (
                <a href={post.url} class="flex flex-col p-4 cursor-pointer hover:bg-zinc-800">
                    <span class="text-lg font-semibold"> {post.frontmatter.title }</span>
                    <span class="text-zinc-500 text-sm"> {post.frontmatter.date}, {post.frontmatter.author} 
                        <span class="inline-flex gap-2">
                            {post.frontmatter.tags.map((tag:string) => 
                                (
                                    <Tag title={tag}/>
                                ))
                            }
                        </span>
                    </span>
                </a>
            ))}
        </div>
    </div>
</Page>