---
import Tag from "../components/Tag.astro";
import Page from "./Page.astro";

const { title, author, date, tags, image } = Astro.props.frontmatter || Astro.props;
---
<Page>
    <div class="p-4">
        <div class=" w-full h-[128px] sm:h-[256px] overflow-hidden rounded mb-4 box-border object-cover">
            <img class="box-border h-full w-full" src={image} alt="">
        </div>
        <h1 class="text-2xl sm:text-3xl md:text-4xl">{title}</h1>
        <div class="text-zinc-500">{author}, {date}</div>
        <div class="flex gap-2 py-4"> {tags.map((tag:string) => 
        (
            <Tag title={tag}/>
) )}</div>
    </div>
    <div class="p-4 pt-0 text-justify">

        <slot/>
    </div>
</Page>

<style is:global>
    @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

    @tailwind base;
    @tailwind components;
    @tailwind utilities;

    h1 {
        @apply font-light text-4xl
    }

    h2 {
        @apply font-semibold text-xl mb-2 mt-4 text-zinc-400
    }

    p {
        @apply mb-2
    }
</style>