
<html>
    <head>
        <meta charset="UTF-8" /> 
    </head>
    <body class="bg-zinc-900 text-zinc-50 sm:grid grid-cols-thirds">
        <div class="hidden sm:flex gap-8 flex-col items-end text-right ml-auto p-4">
            <div>
                <div class="h-32 w-32 rounded bg-zinc-800"/>
            </div>
            <div>
                <h1>Askerad</h1>
                <div class="text-zinc-500">Charles Stieffenhofer</div>
                <div class="text-zinc-500 text-sm">Full Stack Developper</div>
                <div class="text-zinc-500 text-sm">charles@stieffenhofer.org</div>
            </div>
            <div>
                <a class="" href="/articles">Articles</a>
                <div class="">Projets</div>
                <div class="">Curriculum Vitae</div>
            </div>
            <div>
                <div class="">Gitlab</div>
            </div>

        </div>
        <div class="lg:w-2/3">
            <slot/>        
        </div>
    </body>
</html>
